BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DIV {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
PRE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TEXTAREA {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TH {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FIELDSET {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
IMG {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
ADDRESS {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
CAPTION {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
CITE {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
CODE {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
DFN {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
EM {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
STRONG {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
TH {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
VAR {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
OL {
	LIST-STYLE-TYPE: none
}
UL {
	LIST-STYLE-TYPE: none
}
CAPTION {
	TEXT-ALIGN: left
}
TH {
	TEXT-ALIGN: left
}
H1 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H2 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H3 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H4 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H5 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H6 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
Q:before {
	CONTENT: ''
}
Q:after {
	CONTENT: ''
}
ABBR {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
ACRONYM {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
BODY {
	FONT: 12px/1.75 "宋体",Verdana,sans-serif; BACKGROUND: #227f26; COLOR: #333
}
FIELDSET {
	DISPLAY: inline
}
BUTTON {
	LINE-HEIGHT: 1.2; VERTICAL-ALIGN: middle; CURSOR: pointer
}
STRONG {
	FONT-WEIGHT: 800
}
A {
	COLOR: #333; TEXT-DECORATION: none
}
A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #333
}
BODY {
	LINE-HEIGHT: 21px; BACKGROUND: #227f26
}
INPUT {
	VERTICAL-ALIGN: middle
}
.clear {
	LINE-HEIGHT: 0; HEIGHT: 0px; CLEAR: both
}
.clearfix:after {
	LINE-HEIGHT: 0; WIDTH: 0px; DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; FONT-SIZE: 0px; CONTENT: ' '
}
* HTML .clearfix {
	ZOOM: 1
}
*:first-child + HTML .clearfix {
	ZOOM: 1
}
.miniNav {
	BACKGROUND-IMAGE: url(/img/bg01.gif); BORDER-LEFT: #dcdddd 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 31px; PADDING-LEFT: 15px; WIDTH: 928px; PADDING-RIGHT: 15px; BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: 0px -4px; HEIGHT: 32px; MARGIN-LEFT: auto; OVERFLOW: hidden; MARGIN-RIGHT: auto; BORDER-RIGHT: #dcdddd 1px solid; PADDING-TOP: 0px
}
.miniNav A {
	FONT-FAMILY: Verdana
}
.miniNav .t_r {
	FLOAT: right
}
.miniNav .t_r LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 10px; PADDING-LEFT: 15px; PADDING-RIGHT: 0px; BACKGROUND: url(/img/ico01.gif) no-repeat left 10px; FLOAT: left; PADDING-TOP: 0px
}
.miniNav .t_r LI A:hover {
	TEXT-DECORATION: none
}
.wrap {
	BACKGROUND-COLOR: #ffffff; MARGIN: 0px auto; WIDTH: 965px
}
#page {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
#header {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
#content {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
#footer {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
.grid-2 {
	MARGIN: 0px auto; WIDTH: 960px
}
.grid-3 {
	MARGIN: 0px auto; WIDTH: 960px
}
.grid-3 .main {
	FLOAT: left
}
.grid-3 .sub {
	FLOAT: left
}
.grid-2 .main {
	FLOAT: left
}
.grid-2 .sub {
	FLOAT: left
}
.grid-2 .main {
	WIDTH: 700px
}
.grid-2 .sub {
	WIDTH: 260px
}
.grid-3 .main {
	WIDTH: 380px
}
.grid-3 .sub {
	WIDTH: 310px; _width: 311px
}
.grid-3 .extra {
	WIDTH: 270px; FLOAT: right; _width: 269px
}
.wrap:after {
	DISPLAY: block; HEIGHT: 0px; CLEAR: both; CONTENT: ' '
}
.grid-3 .sub:after {
	DISPLAY: block; HEIGHT: 0px; CLEAR: both; CONTENT: ' '
}
.grid-3 .extra:after {
	DISPLAY: block; HEIGHT: 0px; CLEAR: both; CONTENT: ' '
}
.grid-3 .main {
	ZOOM: 1
}
.grid-3 .sub {
	ZOOM: 1
}
.grid-3 .extra {
	ZOOM: 1
}
#header {
	PADDING-BOTTOM: 10px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 960px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
#logo {
	WIDTH: 160px; FLOAT: left; HEIGHT: 30px
}
#rss {
	LINE-HEIGHT: 30px; PADDING-LEFT: 16px; WIDTH: 468px; PADDING-RIGHT: 10px; FONT-FAMILY: Arial; FLOAT: left; HEIGHT: 60px; COLOR: #666
}
#links {
	LINE-HEIGHT: 33px; FLOAT: left; HEIGHT: 30px; COLOR: #c1c9d1; OVERFLOW: hidden
}
#links A {
	COLOR: #002279
}
#links A:hover {
	COLOR: #002279
}
#links A:visited {
	COLOR: #002279
}
#search {
	PADDING-RIGHT: 5px; FLOAT: right; PADDING-TOP: 15px
}
#search INPUT {
	LINE-HEIGHT: 22px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px 3px; PADDING-LEFT: 6px; WIDTH: 134px; BACKGROUND: url(/img/bg-1.png) no-repeat -540px 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 22px; BORDER-LEFT-WIDTH: 0px; _background-attachment: fixed
}
#search SELECT {
	VERTICAL-ALIGN: middle
}
#search .sub_btn {
	WIDTH: 75px; BACKGROUND: url(/img/btn3.gif); HEIGHT: 22px; CURSOR: pointer
}
#nav {
	LINE-HEIGHT: 28px; MARGIN: 0px auto; PADDING-LEFT: 3px; BACKGROUND: url(/img/bg-1.png) 0px -130px; HEIGHT: 28px; CLEAR: both
}
#nav LI {
	PADDING-LEFT: 8px; PADDING-RIGHT: 9px; FLOAT: left
}
#nav A {
	COLOR: #fff
}
#nav A:hover {
	COLOR: #fff
}
#nav A:visited {
	COLOR: #fff
}
#nav .cur {
	BORDER-BOTTOM: #d5d5d5 1px; BORDER-LEFT: #d5d5d5 1px solid; LINE-HEIGHT: 27px; BACKGROUND: #f4f4f4; COLOR: #000; BORDER-TOP: #d5d5d5 1px solid; BORDER-RIGHT: #d5d5d5 1px solid
}
#nav .fv {
	FONT-FAMILY: Verdana
}
#nav .fb {
	FONT-WEIGHT: bold
}
#nav .v_line {
	COLOR: #3e629f
}
#subnav {
	LINE-HEIGHT: 29px; MARGIN: 0px auto; PADDING-LEFT: 11px; BACKGROUND: url(/img/bg-1.png) no-repeat 0px -158px; HEIGHT: 26px; COLOR: #c1c9d1; CLEAR: both; OVERFLOW: hidden
}
#subnav A {
	COLOR: #002279
}
#subnav A:hover {
	COLOR: #002279
}
#subnav A:visited {
	COLOR: #002279
}
#footer {
	MARGIN: 0px auto; WIDTH: 960px; _padding-top: 10px
}
#footer UL {
	MARGIN: 10px 0px 10px 195px
}
#footer UL LI {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; FLOAT: left; PADDING-TOP: 3px
}
#footer UL LI EM {
	PADDING-LEFT: 8px
}
#footer UL LI A {
	COLOR: #000
}
#footer UL LI A:hover {
	COLOR: #c00
}
#footer P {
	TEXT-ALIGN: center; PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
.list1 {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 25px; PADDING-LEFT: 8px; PADDING-RIGHT: 0px; CLEAR: both; FONT-SIZE: 14px; PADDING-TOP: 7px
}
.list1 .dates {
	PADDING-RIGHT: 8px; FLOAT: right; COLOR: #818181; FONT-SIZE: 11px
}
.list2 {
	LINE-HEIGHT: 28px; MARGIN: 0px auto; PADDING-LEFT: 11px; CLEAR: both
}
.list2 .names {
	PADDING-RIGHT: 16px; FLOAT: right
}
.list2 .names A {
	COLOR: #818181
}
.list3 {
	LINE-HEIGHT: 27px; MARGIN: 0px auto; PADDING-LEFT: 11px; CLEAR: both
}
.list3 .dates {
	PADDING-RIGHT: 8px; FLOAT: right; COLOR: #818181; FONT-SIZE: 11px
}
OL.toplist {
	LINE-HEIGHT: 28px; PADDING-LEFT: 37px; BACKGROUND: url(/img/bg-1.png) no-repeat -972px 6px
}
.toplist OL {
	LINE-HEIGHT: 28px; PADDING-LEFT: 37px; BACKGROUND: url(/img/bg-1.png) no-repeat -972px 6px
}
.list4 {
	LINE-HEIGHT: 21px; PADDING-LEFT: 3px; FLOAT: left
}
.list2 A {
	COLOR: #18267b
}
.list4 A {
	COLOR: #18267b
}
.list4 A:hover {
	COLOR: #c00
}
.list2 A:hover {
	COLOR: #c00
}
.list22 {
	LINE-HEIGHT: 28px; MARGIN: 0px auto; MIN-HEIGHT: 10px; PADDING-LEFT: 31px; HEIGHT: auto !important; CLEAR: both
}
.list22 LI {
	WIDTH: 90px; FLOAT: left; HEIGHT: auto
}
.title {
	BORDER-BOTTOM: #ccced2 1px solid; MARGIN-BOTTOM: 6px; BACKGROUND: url(/img/bg-1.png) no-repeat -406px -40px; HEIGHT: 31px
}
.title_l {
	PADDING-LEFT: 38px; FLOAT: left
}
.title_r {
	PADDING-RIGHT: 17px; FLOAT: right
}
.title H2 {
	FONT: bold 14px/28px "宋体"
}
.title A.more {
	MARGIN: 3px 20px; DISPLAY: block; FLOAT: right
}
.dis {
	DISPLAY: block
}
.undis {
	DISPLAY: none
}
.tabs {
	PADDING-RIGHT: 4px; FLOAT: right; HEIGHT: 22px; PADDING-TOP: 9px
}
#Tab3 {
	WIDTH: 110px
}
#Tab1 .on {
	BACKGROUND: #fff; COLOR: #c20000
}
#Tab2 .on {
	BACKGROUND: #fff; COLOR: #c20000
}
#Tab3 .on {
	BACKGROUND: #fff; COLOR: #c20000
}
#Tab1 DIV {
	BORDER-BOTTOM: #d7d7d7 1px; TEXT-ALIGN: center; BORDER-LEFT: #d7d7d7 1px solid; WIDTH: 52px; BACKGROUND: #ebebeb; FLOAT: left; BORDER-TOP: #d7d7d7 1px solid; CURSOR: pointer; BORDER-RIGHT: #d7d7d7 1px solid
}
#Tab2 DIV {
	BORDER-BOTTOM: #d7d7d7 1px; TEXT-ALIGN: center; BORDER-LEFT: #d7d7d7 1px solid; WIDTH: 52px; BACKGROUND: #ebebeb; FLOAT: left; BORDER-TOP: #d7d7d7 1px solid; CURSOR: pointer; BORDER-RIGHT: #d7d7d7 1px solid
}
#Tab3 DIV {
	BORDER-BOTTOM: #d7d7d7 1px; TEXT-ALIGN: center; BORDER-LEFT: #d7d7d7 1px solid; WIDTH: 52px; BACKGROUND: #ebebeb; FLOAT: left; BORDER-TOP: #d7d7d7 1px solid; CURSOR: pointer; BORDER-RIGHT: #d7d7d7 1px solid
}
#content1 {
	MARGIN: 0px auto
}
#content2 {
	MARGIN: 0px auto
}
.left {
	HEIGHT: 540px
}
.center {
	HEIGHT: 540px
}
.right {
	HEIGHT: 540px
}
.left {
	BORDER-BOTTOM: #ccced2 1px solid; BORDER-LEFT: #ccced2 1px solid; BORDER-TOP: #ccced2 1px solid; BORDER-RIGHT: #ccced2
}
.center {
	BORDER-BOTTOM: #ccced2 1px solid; BORDER-LEFT: #ccced2 1px solid; BORDER-TOP: #ccced2 1px solid; BORDER-RIGHT: #ccced2
}
.right {
	BORDER-BOTTOM: #ccced2 1px solid; BORDER-LEFT: #ccced2 1px solid; BORDER-TOP: #ccced2 1px solid; BORDER-RIGHT: #ccced2 1px solid
}
#content2 .left {
	HEIGHT: 985px
}
#content2 .center {
	HEIGHT: 985px
}
#content2 .right {
	HEIGHT: 985px
}
#topnews {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 15px; PADDING-RIGHT: 0px; BACKGROUND: url(/img/bg-1.png) no-repeat 0px -40px; HEIGHT: 61px; PADDING-TOP: 16px
}
#topnews H1 {
	FONT-SIZE: 16px
}
#mainnews .ft {
	TEXT-ALIGN: right; LINE-HEIGHT: 33px; HEIGHT: 30px; CLEAR: both
}
#mainnews #Tab {
	PADDING-RIGHT: 7px; FLOAT: right
}
#mainnews #Tab DIV {
	TEXT-ALIGN: center; WIDTH: 22px; BACKGROUND: url(/img/bg-1.png) no-repeat -427px 8px; FLOAT: left; COLOR: #0b3b8c; CURSOR: pointer
}
#mainnews #Tab .on {
	BACKGROUND: url(/img/bg-1.png) no-repeat -398px 8px; COLOR: #fff; FONT-WEIGHT: bold
}
#imagenews {
	BORDER-BOTTOM: #ccced2 0px solid; BORDER-LEFT: #ccced2 1px solid; BACKGROUND: url(/img/bg-1.png) no-repeat 0px -190px; HEIGHT: 180px; CLEAR: both; BORDER-TOP: #ccced2 1px solid; BORDER-RIGHT: #ccced2 1px solid
}
#imagenews .title {
	BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-TOP: 2px
}
#imagenews UL {
	LIST-STYLE-TYPE: none; MARGIN-LEFT: 20px
}
#imagenews UL LI {
	WIDTH: 156px; FLOAT: left
}
#imagenews UL LI P {
	TEXT-ALIGN: center; LINE-HEIGHT: 18px; WIDTH: 125px; PADDING-TOP: 3px
}
#imagenews UL LI IMG {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
#imagenews UL LI IMG:hover {
	BORDER-BOTTOM-COLOR: #999; BORDER-TOP-COLOR: #999; BORDER-RIGHT-COLOR: #999; BORDER-LEFT-COLOR: #999
}
#imagenews UL LI P A {
	COLOR: #333
}
#imagenews UL LI P A:hover {
	COLOR: #cc0000
}
#scrolls .title {
	LINE-HEIGHT: 32px; BACKGROUND: url(/img/bg-1.png) no-repeat 0px 0px; HEIGHT: 31px; OVERFLOW: hidden
}
#scrolls .title .title_l {
	PADDING-LEFT: 12px
}
.ctr_tl {
	MARGIN-TOP: 10px; HEIGHT: 65px; CLEAR: both
}
.ctr_tit5 {
	TEXT-ALIGN: center; LINE-HEIGHT: 18px; WIDTH: 30px; FLOAT: left; HEIGHT: 49px; PADDING-TOP: 14px
}
.ctr_tit6 {
	TEXT-ALIGN: center; LINE-HEIGHT: 18px; WIDTH: 30px; FLOAT: left; HEIGHT: 49px; PADDING-TOP: 14px
}
.ctr_tit5 {
	BACKGROUND: url(/img/bg-1.png) no-repeat -734px -37px
}
.ctr_tit6 {
	BACKGROUND: url(/img/bg-1.png) no-repeat -794px -37px
}
.ctr_tit5 {
	COLOR: #fff
}
.ctr_tit5 A {
	COLOR: #fff
}
.ctr_tit6 {
	COLOR: #fff
}
.ctr_tit6 A {
	COLOR: #fff
}
.ctr_tit5 A:hover {
	COLOR: #fff
}
.ctr_tit6 A:hover {
	COLOR: #fff
}
#partner {
	BORDER-BOTTOM: #cdcdcd 1px solid; BORDER-LEFT: #cdcdcd 1px solid; BACKGROUND: #f7f7f7; BORDER-TOP: #cdcdcd 1px solid; BORDER-RIGHT: #cdcdcd 1px solid
}
#partner .title {
	BACKGROUND: #f7f7f7
}
#partner .title_l {
	PADDING-LEFT: 18px
}
#partner .bd {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 5px
}
#partner .bd UL {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 5px
}
#partner .bd UL LI {
	PADDING-LEFT: 20px; WIDTH: 60px; PADDING-RIGHT: 20px; FLOAT: left
}
#partner .bdccc {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 5px
}
#partner .bdccc UL {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 5px
}
#partner .bdccc UL LI {
	PADDING-LEFT: 20px; PADDING-RIGHT: 20px; FLOAT: left
}
#partner .ft {
	TEXT-ALIGN: center; PADDING-BOTTOM: 8px; MARGIN: 0px 20px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; BORDER-TOP: #cdcdcd 1px dotted; PADDING-TOP: 8px
}
#nav_bread {
	MARGIN: 10px; VERTICAL-ALIGN: middle
}
#nav_bread H3 {
	FONT: 12px "宋体"; PADDING-TOP: 5px
}
#nav_bread A.tougao {
	TEXT-INDENT: -9999px; WIDTH: 96px; DISPLAY: block; BACKGROUND: url(/img/more_op_bg.gif) no-repeat 0px 0px; FLOAT: right; HEIGHT: 24px; COLOR: #295b72; OVERFLOW: hidden
}
#main_content {
	BORDER-BOTTOM: #d3dbe6 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #d3dbe6 1px solid; MARGIN: 8px 0px; BORDER-TOP: #003795 3px solid; BORDER-RIGHT: #d3dbe6 1px solid
}
#main_content .hd {
	TEXT-ALIGN: center; PADDING-TOP: 22px
}
#main_content H1 {
	TEXT-ALIGN: center; FONT: 800 26px/30px "宋体",arial; MARGIN-BOTTOM: 6px; COLOR: #000
}
#main_content .info {
	HEIGHT: 30px; COLOR: #7e7e7e
}
#main_content .info SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 0px
}
#main_content .bd {
	BORDER-TOP: #e5e5e5 1px solid
}
#main_content IMG {
	MAX-WIDTH: 590px
}
#main_content .bd P {
	PADDING-BOTTOM: 15px; LINE-HEIGHT: 25px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; PADDING-TOP: 15px
}
#main_content .ft {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; BORDER-TOP: #dadbd6 1px dashed; PADDING-TOP: 15px
}
#main_content .fteee {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; COLOR: #003366; BORDER-TOP: #dadbd6 1px dashed; PADDING-TOP: 10px
}
#main_content .intro TABLE {
	TABLE-LAYOUT: fixed
}
#main_content TABLE TD {
	PADDING-BOTTOM: 8px !important; PADDING-LEFT: 8px !important; PADDING-RIGHT: 8px !important; OVERFLOW: hidden; WORD-BREAK: break-all; PADDING-TOP: 8px !important
}
#main_content .bd {
	PADDING-BOTTOM: 8px !important; PADDING-LEFT: 8px !important; PADDING-RIGHT: 8px !important; OVERFLOW: hidden; WORD-BREAK: break-all; PADDING-TOP: 8px !important
}
#main_content TABLE TD {
	_width: 400px; _word-wrap: break-word; _word-break: break-all
}
#main_content PRE {
	WORD-WRAP: break-word; _word-break: break-all
}
#pagination {
	TEXT-ALIGN: center; MARGIN: 20px 0px
}
#pagination A {
	BORDER-BOTTOM: #eee 1px solid; BORDER-LEFT: #eee 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; COLOR: #666; BORDER-TOP: #eee 1px solid; BORDER-RIGHT: #eee 1px solid; PADDING-TOP: 2px
}
#imagenews2 {
	BORDER-BOTTOM: #ccced2 1px solid; BORDER-LEFT: #ccced2 1px solid; BACKGROUND: url(/img/bg-1.png) no-repeat 0px -190px; HEIGHT: 250px; CLEAR: both; BORDER-TOP: #ccced2 1px solid; BORDER-RIGHT: #ccced2 1px solid; _margin-top: 10px
}
.main_module {
	BORDER-BOTTOM: #ccced2 1px solid; BORDER-LEFT: #ccced2 1px solid; BACKGROUND: url(/img/bg-1.png) no-repeat 0px -190px; HEIGHT: 250px; CLEAR: both; BORDER-TOP: #ccced2 1px solid; BORDER-RIGHT: #ccced2 1px solid; _margin-top: 10px
}
#list_module {
	BORDER-BOTTOM: #ccced2 1px solid; BORDER-LEFT: #ccced2 1px solid; BACKGROUND: url(/img/bg-1.png) no-repeat 0px -190px; HEIGHT: 250px; CLEAR: both; BORDER-TOP: #ccced2 1px solid; BORDER-RIGHT: #ccced2 1px solid; _margin-top: 10px
}
#imagenews2 .title {
	BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-TOP: 2px
}
#imagenews2 UL {
	LIST-STYLE-TYPE: none; MARGIN: 10px 0px 10px 17px; CLEAR: both
}
#imagenews2 UL LI {
	WIDTH: 112px; FLOAT: left
}
#imagenews2 UL LI P {
	TEXT-ALIGN: center; LINE-HEIGHT: 18px; WIDTH: 105px; PADDING-TOP: 3px
}
#imagenews2 UL LI IMG {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
#imagenews2 UL LI IMG:hover {
	BORDER-BOTTOM-COLOR: #999; BORDER-TOP-COLOR: #999; BORDER-RIGHT-COLOR: #999; BORDER-LEFT-COLOR: #999
}
#imagenews2 UL LI P A {
	COLOR: #333
}
#imagenews2 UL LI P A:hover {
	COLOR: #cc0000
}
.module {
	BORDER-BOTTOM: #d9e4f3 1px solid; BORDER-LEFT: #d9e4f3 1px solid; PADDING-BOTTOM: 10px; MARGIN: 10px 0px 10px 10px; BORDER-TOP: #d9e4f3 1px solid; BORDER-RIGHT: #d9e4f3 1px solid
}
.sub .adv {
	MARGIN: 10px 0px 10px 10px; HEIGHT: 250px
}
.main_module {
	MARGIN-TOP: 10px; HEIGHT: 220px
}
.main_module .title {
	BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-TOP: 3px
}
.main_module UL {
	CLEAR: both
}
.main_module UL LI {
	LINE-HEIGHT: 25px; MARGIN: 0px 15px 0px 20px; PADDING-LEFT: 12px; WIDTH: 300px; FLOAT: left; HEIGHT: 25px; OVERFLOW: hidden; _margin: 0
}
.main_module UL LI SPAN {
	PADDING-LEFT: 10px; COLOR: #999
}
#list_module {
	HEIGHT: auto
}
.main_module UL LI.list {
	BORDER-BOTTOM: #e0e0e0 1px dotted; MARGIN: 5px 0px 5px 5px; WIDTH: 95%
}
.main_module UL LI.list A {
	FLOAT: left
}
.main_module UL LI.list SPAN {
	PADDING-RIGHT: 10px; FLOAT: right
}
.f14 {
	FONT-SIZE: 14px
}
.f16 {
	FONT-SIZE: 16px
}
.bold {
	FONT-WEIGHT: bold
}
H1 {
	TEXT-ALIGN: left; LINE-HEIGHT: 26px; FONT-FAMILY: "黑体"; COLOR: #333; FONT-SIZE: 20px
}
H2 {
	FONT-SIZE: 14px; FONT-WEIGHT: bold
}
H3 {
	FONT-SIZE: 14px; FONT-WEIGHT: bold
}
H4 {
	LINE-HEIGHT: 25px; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
H5 {
	FONT-SIZE: 12px; FONT-WEIGHT: bold
}
H6 {
	FONT-SIZE: 12px
}
.f_white {
	COLOR: #fff
}
.f_white A {
	COLOR: #fff
}
.f_white A:hover {
	COLOR: #fff
}
.num_red {
	LINE-HEIGHT: 36px; FONT-FAMILY: Arial; COLOR: #cc0000; FONT-SIZE: 18px
}
.num_red A {
	LINE-HEIGHT: 36px; FONT-FAMILY: Arial; COLOR: #cc0000; FONT-SIZE: 18px
}
.f_grey {
	COLOR: #989898
}
.f_grey A {
	COLOR: #989898
}
.f_grey A:hover {
	COLOR: #c00
}
.f_grey2 {
	COLOR: #707070
}
.f_grey2 A {
	COLOR: #707070
}
.f_grey2 A:hover {
	COLOR: #c00
}
.f_blue {
	COLOR: #18267b
}
.f_blue A {
	COLOR: #18267b
}
.f_blue A:link {
	COLOR: #18267b
}
.f_blue A:visited {
	COLOR: #666
}
.f_blue A:hover {
	COLOR: #c00
}
.f_blue A:active {
	COLOR: #18267b
}
.f_black {
	COLOR: #333
}
.f_black A {
	COLOR: #333
}
.f_black A:hover {
	COLOR: #c00
}
.f_black2 {
	COLOR: #333
}
.f_black2 A {
	COLOR: #333
}
.f_black2 A:hover {
	COLOR: #333
}
.f_red {
	COLOR: #cc0000
}
.f_red A {
	COLOR: #cc0000
}
.f_red A:hover {
	COLOR: #333
}
.box10 {
	HEIGHT: 10px; CLEAR: both; _line-height: 10px
}
.fl {
	FLOAT: left
}
.fr {
	FLOAT: right
}
.clsList2 DT {
	POSITION: relative; PADDING-BOTTOM: 0px; LINE-HEIGHT: 28px; BACKGROUND-COLOR: #e3f0fd; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; HEIGHT: 28px; MARGIN-LEFT: 10px; FONT-SIZE: 14px; FONT-WEIGHT: 700; MARGIN-RIGHT: 10px; PADDING-TOP: 0px
}
.clsList2 DT P {
	TEXT-ALIGN: right; MARGIN-TOP: -28px; FONT: 400 12px/28px arial; PADDING-TOP: 8px
}
.clsList2 DT SPAN {
	FONT: 400 12px/28px simsun; COLOR: #039; MARGIN-LEFT: 10px
}
.clsList2 DD {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 10px
}
.clsList2 DD I {
	MARGIN: 0px 5px
}
.clsList2 DD .noPlugin {
	COLOR: #40a300; FONT-WEIGHT: 700
}
.clsList2 DD .hasPlugin {
	
}
.clsList2 DD .buxiang {
	COLOR: #ff9101; FONT-WEIGHT: 700
}
.clsList2 DD P {
	TEXT-INDENT: 2em; COLOR: #747e88
}
.clsList2 .bar {
	BORDER-BOTTOM: #40a300 1px solid; POSITION: absolute; BORDER-LEFT: #40a300 1px solid; BACKGROUND-COLOR: #fff; WIDTH: 83px; HEIGHT: 5px; BORDER-TOP: #40a300 1px solid; RIGHT: 90px; BORDER-RIGHT: #40a300 1px solid; TOP: 12px
}
.clsList2 .bar DIV {
	BACKGROUND: url(../img/sprites.gif) repeat-x 0px -265px; HEIGHT: 5px; OVERFLOW: hidden
}
.clsList2 .page {
	FONT-SIZE: 14px
}
.downnn {
	WIDTH: 700px
}
.downl {
	WIDTH: 200px; FLOAT: left
}
.downl UL {
	WIDTH: 200px
}
.downl UL LI {
	BACKGROUND-IMAGE: url(/img/downn.gif); PADDING-LEFT: 40px; WIDTH: 110px; HEIGHT: 25px; PADDING-TOP: 8px
}
.downl UL LI A {
	MARGIN-TOP: 5px; COLOR: #000099; FONT-SIZE: 12px
}
.downr {
	WIDTH: 470px; FLOAT: left
}
